<%- include('../partials/header') %>
    <div id="item-container">
        <img id="item-image" src="<%= item.image %>" alt="item.image">
        <section id="item-info">
            <h1><%= item.title %></h1>
            <section id="description">
                <p>Price: <span id="price">$<%= item.price %></span> | <span id="offers"><%= item.offers %></span> Offers</p>
                <p>Seller: <span id="seller"><%= item.seller.firstName + ' ' + item.seller.lastName%></span></p>
                <p>Condition: <span id="condition"><%= item.condition %></span></p>
                <p><%= item.description %></p>
            </section>
        </section>
    </div>
</main>
<%- include('../partials/footer') %>

